<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Signup</title>
</head>
<body>
<form method="post" action="/signup">
    <label>Username:
        <input type="text" name="username" value="{{ context['username'] }}">
        {{ username_error }}
    </label>
    <br>

    <label>Password:
        <input type="password" name="password" value="{{ context['password'] }}">
        {{ password_error }}
    </label>

    <br>
    <label>Verify Password:
        <input type="password" name="verify" value="{{ context['verify'] }}">
        {{ verify_error }}
    </label>
    <br>
    <br>

    <input type="submit" value="Signup">
</form>
</body>
</html>